/* Root Variables */
:root {
  --main-padding: 15px;
  --main-margin: 10px;
  --main-img-size: 150px;
  --main-bio-size: 200px;
  --main-border-radius: 5px;
  --padding-big: 20px;
  --main-container-width: 750px;
  --main-bg-color: #ffffff;
  --main-txt-color: #333333;
  --main-ac-color: #f0f0f0;
  --hover-bg-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #1a1b1e;
    --main-ac-color: #202225;
    --main-txt-color: #f3f3f3;
    --hover-bg-color: #161616;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #ffffff;
    --main-ac-color: #f0f0f0;
    --main-txt-color: #333333;
    --hover-bg-color: #e0e0e0;
  }
}

/* General Styles */
html,
body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  color: var(--main-txt-color);
  text-align: center;
  background: var(--main-bg-color);
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: url('../images/bg.jpg') center / cover no-repeat fixed;
}

a {
  color: var(--main-txt-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--hover-bg-color);
}
.play {
  color: var(--main-txt-color);
  text-decoration: none;
  transition: color 0.3s;
}

/* Grid Styles */
.grid-container {
  margin: var(--main-margin);
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.grid-item {
  width: var(--main-bio-size);
  margin-left: var(--main-padding);
  background: var(--main-bg-color);
  cursor: pointer;
  border-radius: var(--main-border-radius);
  transition: background 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
  background: var(--hover-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Profile Image */
.profile img {
  margin: auto;
  max-width: var(--main-img-size);
  border-radius: 50%;
}

/* Responsive Design */
@media screen and (max-width: 700px) {
  :root {
    --main-container-width: 95%;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .profile img {
    width: 80%;
  }
}

