<!DOCTYPE html>
<html>
  <head>
    <title>Lemetist</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <img src="/static/images/Lemetist.jpg" />
    <div class="name">Lemetist</div>
    <div class="tagline">Discord<br />Mail<br />Telegram</div>
    <div class="site">
      <a href="https://github.com/Lemetist"><span class="play"></span> Github</a>
      <small>Created with ♥ by <i>Lemetist</i></small>
    </div>
  </body>
</html>